/Server E-Voting/nbproject/private/
/Server E-Voting/build/
/Server E-Voting/dist/
/Admin/nbproject/private/
/Voter Client/nbproject/private/
/Admin_Client/nbproject/private/
/Admin Client/build/
/Voter_Client/nbproject/private/